* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left, rgb(16, 30, 60), rgb(52, 83, 114));
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 1em 0em;
    color: aquamarine;
    background: linear-gradient(black, rgb(0, 14, 23), transparent);
    border-radius: 15px;
    padding: 5px 20px;
    letter-spacing: 10px;
    text-decoration: underline;
    font-size: 3em;
}

.inicio-registro {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-right: 2vw;
}

.form-login, .mostrar-inicio, .form-registrar, .mostrar-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    position: relative;
}

.mostrar-inicio {
    height: 0;
    margin-top: 2vh;
    transition-duration: .6s;
}

.mostrar-registro {
    height: 0;
    margin-top: 2vh;
    transition-duration: .8s;
}

.mostrar-inicio input, .mostrar-registro input {
    padding: 5px;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
}

.iniciar-sesion, .registrar-usuario, .boton_editar {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    transition-duration: .4s;
    cursor: pointer;
}

.boton-cerrar-sesion, .login-css, .signup-css, .mostrar-usuario, .boton-borrar {
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: .5em;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    transition-duration: .4s;
    cursor: pointer;
}

.boton_editar {
    align-self: center;
}

.iniciar-sesion:hover, .mostrar-usuario:hover, .login-css:hover {
    background-color: lightblue;
}

.registrar-usuario:hover, .signup-css:hover, .boton_editar:hover {
    background-color: lightgreen;
}

.boton-cerrar-sesion:hover, .boton-borrar:hover {
    background-color: lightcoral;
}

.usuario-iniciado {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4em;
    width: fit-content;
    height: 45px;
    position: absolute;
    left: 44%;
    top: 3em;
    gap: .5em;
    border-radius: 5px;
    background: linear-gradient(black, rgb(0, 14, 23), transparent);
}

.usuario-iniciado h3 {
    font-size: 2em;
    text-decoration: underline;
    color: whitesmoke;
    letter-spacing: 4px;
}

.perfil-usuario {
    height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    background: linear-gradient(black, rgb(0, 14, 23), transparent);
    transition-duration: 1s;
    padding: 20px;
    gap: 1em;
}

.perfil-usuario h3, .perfil-usuario h4 {
    color: aliceblue;
}

.contenedor-cerrar-sesion {
    margin: 1em 3em;
}

.contenedor-mostrar-usuario {
    position: absolute;
    left: 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 1s;
}

.mostrar-usuario {
    position: relative;
    bottom: 4.5em;
    right: 30vw;
}

h4 {
    font-weight: lighter;
}

.errores {
    position: relative;
}

.busqueda-carga {
    display: flex;
    gap: 10vw;
}

.buscador-css {
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.buscador_sin_sesion {
    width: 400px;
    margin-left: 9.5vw;
}

.contenedor-crear-vet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.formulario-agregar-veterinaria {
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 200px;
    overflow: hidden;
    transition-duration: 1s;
}

.formulario-agregar-veterinaria input {
    padding: 5px;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

.cargar-vet {
    width: 180px;
    padding: 5px;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .5s;
}

.guardar-vet {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .5s;
}

.cargar-vet:hover {
    background-color: lightgreen;
}

.mostrar-veterinarias {
    display: flex;
    flex-direction: column;
}

.mostrar-veterinarias h2 {
    align-self: center;
    font-size: 2em;
    margin-top: 5vh;
    margin-bottom: 5vh;
    letter-spacing: 2px;
    text-decoration: underline;
    color: aliceblue;
    padding: 5px 15px;
    border-radius: 5px;
    background: linear-gradient(black, rgb(0, 14, 23), transparent);
}

.veterinarias-css {
    width: 90vw;
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
}

.contenedor_veterinarias {
    min-width: 250px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 10px;
    margin-bottom: 5vh;
    box-shadow: none;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 5px;
    background: linear-gradient(rgb(195, 227, 255), transparent);
    transition-duration: .3s;
}

.contenedor_veterinarias:hover {
    box-shadow: 0 0 15px black;
    position: relative;
    background-color: rgb(195, 227, 255);
    scale: 1.05;
}

.contenedor_veterinarias h3 {
    align-self: center;
    margin-bottom: .5em;
}

.busqueda-exacta {
    background-color: rgba(3, 3, 61, 0.521);
    padding: 4px;
    border-radius: 5px;
}



.busqueda-exacta span{
    color: white;
}

.top-menos-cinco {
    top: -5em;
}

.top-cero {
    top: 0;
}

.altura-cero {
    height: 0;
}

.altura-cien {
    height: 100px;
}

.altura-doscientos {
    height: 200px;
}

.altura-dos {
    height: 245px;
}

.altura-dos-cincuenta {
    height: 250px;
}

.no-mostrar {
    display: none;
}