* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left, rgb(16, 30, 60), rgb(52, 83, 114));
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 1em 0em;
    color: aquamarine;
    background: linear-gradient(black, rgb(0, 14, 23), transparent);
    border-radius: 15px;
    padding: 5px 20px;
    letter-spacing: 10px;
    text-decoration: underline;
    font-size: 3em;
}

.inicio-registro {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-right: 2vw;
}

#form_login, #mostrar_inicio, #form_registrar, #mostrar_registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    position: relative;
}



#mostrar_inicio input, #mostrar_registro input {
    padding: 5px;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
}

#iniciar_sesion, #registrar_usuario, .boton_editar {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    transition-duration: .4s;
    cursor: pointer;
}

#boton_cerrar_sesion, #login, #signup, #mostrar_usuario, .boton-borrar {
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: .5em;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    transition-duration: .4s;
    cursor: pointer;
}

.boton_editar {
    align-self: center;
}

#iniciar_sesion:hover, #mostrar_usuario:hover, #login:hover {
    background-color: lightblue;
}

#registrar_usuario:hover, #signup:hover, .boton_editar:hover {
    background-color: lightgreen;
}

#boton_cerrar_sesion:hover, .boton-borrar:hover {
    background-color: lightcoral;
}

#mostrar_inicio, #mostrar_registro {
    margin-top: 2vh;
}

#no-mostrar {
    display: none;
}

.usuario-iniciado {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4em;
    width: 220px;
    height: 45px;
    position: absolute;
    left: 5%;
    top: 3em;
    gap: .5em;
    border-radius: 5px;
    background: linear-gradient(black, rgb(0, 14, 23), transparent);
}

.usuario-iniciado h3 {
    font-size: 2em;
    text-decoration: underline;
    color: whitesmoke;
    letter-spacing: 4px;
}

#perfil_usuario {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    background: linear-gradient(black, rgb(0, 14, 23), transparent);
    transition-duration: 1s;
}

#perfil_usuario h3, #perfil_usuario h4 {
    color: aliceblue;
}

.perfil-usuario{
    padding: 20px;
    gap: 1em;
}

#contenedor_cerrar_sesion {
    margin: 1em 3em;
}

#contenedor_mostrar_usuario {
    position: absolute;
    top: 1em;
    left: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 1s;
}

#mostrar_usuario {
    position: relative;
    bottom: 4.5em;
}

h4 {
    font-weight: lighter;
}

.errores {
    position: relative;
}

#contenedor_crear_vet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#formulario_agregar_veterinaria {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 200px;
    overflow: hidden;
    transition-duration: 1s;
}

#formulario_agregar_veterinaria input {
    padding: 5px;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

#cargar_vet {
    width: 80%;
    padding: 5px;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .5s;
}

#guardar_vet {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .5s;
}

#cargar_vet:hover {
    background-color: lightgreen;
}

.mostrar-veterinarias {
    display: flex;
    flex-direction: column;
}

.mostrar-veterinarias h2 {
    align-self: center;
    font-size: 2em;
    margin-bottom: 2em;
    letter-spacing: 2px;
    text-decoration: underline;
    color: aliceblue;
    padding: 5px 15px;
    border-radius: 5px;
    background: linear-gradient(black, rgb(0, 14, 23), transparent);
}

#veterinarias {
    width: 90vw;
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
}

.contenedor_veterinarias {
    min-width: 250px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 10px;
    box-shadow: none;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 5px;
    background: linear-gradient(rgb(195, 227, 255), transparent);
    transition-duration: .3s;
}

.contenedor_veterinarias:hover {
    box-shadow: 0 0 15px black;
    position: relative;
    background-color: rgb(195, 227, 255);
    scale: 1.05;
}

.contenedor_veterinarias h3 {
    align-self: center;
    margin-bottom: .5em;
}